<div class="modal fade" id="ideaModal">
    <div class="modal-dialog modal-lg modal-dialog-centered" >
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Idea behind this project!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <strong>You did it!</strong><br><br>

                We are more than happy that you came here and uploaded your picture.<br><br>

                We will try to do our best
                to check it as soon as possible and approve it so people around the world can actually stop for a while
                and see something beautiful.<br><br>

                <p class="text-right signature">
                    <i style="">Vladimír Vráb & Lenka Halásová</i>
                </p>
            </div>


        </div>
    </div>
</div>