<div class="modal fade" id="uploadModal">
    <div class="modal-dialog modal-lg modal-dialog-centered" >
        <div class="modal-content">

            <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title">Add something spectacular</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group" id="form-title">
                        <label for="form-title">Title*</label>
                        <input type="text" name="title" class="form-control" placeholder="Add title">
                        <small class="form-text text-muted">Can you think of some beautiful title we can add to the picture?</small>
                    </div>

                    <div class="form-group" id="form-picture">
                        <label for="form-picture">Picture*</label>
                        <input type="file" name="picture" class="form-control" >
                        <small class="form-text text-muted">Choose something astonishing</small>
                    </div>

                    <div class="form-group" id="form-author" >
                        <label for="form-title">Author*</label>
                        <input type="text" name="author" class="form-control" placeholder="Add title">
                        <small class="form-text text-muted">Let us know who is making our day more enjoyable</small>
                    </div>

                    <div class="form-group" id="form-quote" >
                        <label for="form-quote">Quote</label>
                        <input type="text" name="quote" class="form-control" placeholder="Add quote">
                        <small class="form-text text-muted">Was something meaningful going through your mind while taking this picture?</small>
                    </div>

                    <div class="form-group" id="form-tags" >
                        <label for="form-tags">Tags</label>
                        <input type="text" name="tags" class="form-control" placeholder="Add tags separated by space">
                        <small class="form-text text-muted">Tag your picture with some meaningful words?</small>
                    </div>


                    <div class="row" style="margin-top: 40px; margin-bottom: 20px;">
                        <div class="col-md-10 font-italic" id="form-checkbox_1">
                            I agree that picture belongs to me and i want to share it publicly across the whole world
                        </div>
                        <div class="col-md-2 text-right" style="font-size: 30px;">
                            <div class="pretty p-icon p-round p-tada">
                                <input type="checkbox" name="checkbox_1"/>
                                <div class="state p-primary-o">
                                    <i class="icon fas fa-heart" ></i>
                                    <label ></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 font-italic" id="form-checkbox_2">
                            I agree that picture may be approved and shared on social site Instagram with
                            a reference name
                        </div>
                        <div class="col-md-2 text-right" style="font-size: 30px;">
                            <div class="pretty p-icon p-round p-tada" >
                                <input type="checkbox" name="checkbox_2"/>
                                <div class="state p-primary-o">
                                    <i class="icon fas fa-heart" ></i>
                                    <label></label>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button id="uploadFormSubmit" type="button" class="btn btn-blue-button"><img src="images/loading.gif"> Upload and share something beautiful</button>
                </div>
            </form>

        </div>
    </div>
</div>