<!DOCTYPE html>
<html>
    <head>
        <title>JSFAW | <%= picture.title %></title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="icon" href="/images/favicon.png">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" >

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

        <script src="/javascripts/web.js" ></script>

    </head>
    <body>
        <div class="picture-wrapper">
            <div class="picture" style="background-image: url('/images/<%= picture.safe_name %>')"></div>
            <div id="loading">
                <img id="ĺoading_image" src="/images/<%= picture.safe_name %>" >
                <div class="loading-inner">
                    <span style="display: inline-block; vertical-align: middle; height: 77px;">Loading something beautiful</span>
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>

            <a href="/">
                <div class="logo">
                    <h1>just stop for a while</h1>
                </div>
            </a>



            <div class="menu" style="color: #FFF;">
                <span class="fas fa-bars bars" ></span>
                <span class="fas fa-times close-menu" ></span>
            </div>

            <div class="menu-wrapper">
                <ul>
                    <h3 class="signature">just stop for a while</h3>
                    <li data-toggle="modal" data-target="#ideaModal"><span class="fas fa-lightbulb"></span> Idea</li>
                    <li data-toggle="modal" data-target="#uploadModal"><span class="fas fa-upload"></span> Upload</li>
                    <li data-toggle="modal" data-target="#donateModal"><span class="fas fa-hands-helping"></span> Donate</li>
                </ul>
                <a href="https://instagram.com"><p class="instagram"><span class="fab fa-instagram"></span> <i>instagram</i></p></a>
            </div>

            <div class="info-icon">
                <span class="fas fa-info"></span>
            </div>

            <div class="info">
                <h3>Information</h3>
                <p>Title: <strong><%= picture.title %></strong></p>
                <p>Author: <strong><%= picture.author %></strong></p>
                <p>Size: <strong><%= picture.filesize_human_readable %> MB</strong></p>
                <p>Viewed: <strong><%= picture.visit_count %> times</strong></p>
                <p>Downloaded: <strong><%= picture.download_count %> times</strong></p>
                <p style="border-bottom: none;" >Share me: <strong><span style="word-break: break-all; font-weight: 800;"><%= env.APP_HOST %>/picture/share/<%= picture.pid %></span></strong></p>
                <a href="/picture/download/<%= picture.pid %>" class="btn btn-blue-button"><span class="fas fa-download"></span> DOWNLOAD</a>
            </div>


            <div id="author" class="signature"><%= picture.author %></div>

            <div class="footer-icon">
                <span class="fab fa-gratipay"></span>
            </div>

            <div class="footer">
                <p style="padding-top: 15px;">Created by @iNviNho (Vladimír Vráb) in 2018</p>
            </div>

        </div>

        <% include modals/ideaModal %>
        <% include modals/donateModal %>
        <% include modals/uploadModal %>
        <% include modals/successModal %>

    </body>
</html>
