@font-face {
  font-family: GothamLight;
  src: url("/fonts/gothamlight.svg") format("svg"),
  url("/fonts/gothamlight.ttf") format("truetype");
}

@font-face {
  font-family: Radicalis;
  src: url("/fonts/radicalis.ttf") format("truetype");
}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-family: GothamLight!important;
}

.picture-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.picture {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: slow-zoom;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#loading {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  color: #323f57;
  font-weight: bold;
}

#loading .loading-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#ĺoading_image {
  display: none;
}


.logo {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 50px;
  background-image: url("/images/woodensign.jpg");
  background-size: cover;
  border-radius: 6px;
  padding: 3px;
  box-shadow: 2px 2px 6px 1px #190d09;
}

.logo::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 40px;
  width: 5px;
  height: 10px;
  background-color: #572f12;
}

.logo::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 40px;
  width: 5px;
  height: 10px;
  background-color: #572f12;
}

.logo h1 {
  font-family: Radicalis!important;
  margin: 0px;
  color: #FFF;
  padding: 10px 25px;
  font-size: 22px;
  letter-spacing: 4px;
}

.menu {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 40px;
  cursor: pointer;
  background-color: #323f57;
  color: #FFF;
  padding: 6px 15px;
  font-size: 22px;
  border-radius: 5px;
  transition: .25s linear;
}

.menu .close-menu {
  display: none;
}

.menu-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  background-color: #FFF;
  color: #323f57;
  height: 100%;
  right: 0px;
  transition: .25s linear;
  transform: translateX(100%);
}

.menu-wrapper.opened {
  transform: translateX(0%);
}

.menu-wrapper ul {
  margin: 0px;
  padding: 100px 0px 0px 0px;

}

.menu-wrapper h3 {
  padding: 0px 40px 40px 40px;
}

.menu-wrapper ul li {
  padding: 10px 30px;
  list-style: none;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  transition: .10s linear;
}

.menu-wrapper ul li:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #323f57;
}

.instagram {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 110px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 20px;
  font-size: 18px;
  color: #323f57;
}

#author {
  position: absolute;
  z-index: 2;
  font-size: 28px;
  padding: 10px 20px;
  bottom: 0px;
  left: 0px;
  color: #FFF;
}

#uploadForm #uploadFormSubmit img {
  display: none;
  height: 25px;
}

#uploadForm.uploading #uploadFormSubmit img {
  display: inline;
}

#uploadForm.uploading .btn.btn-blue-button {
  background-color: #007bff;
  color: #FFF;
}

.signature {
  font-family: Radicalis!important;
}


.info-icon {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  bottom: 140px;
  left: 0px;
  padding: 6px 22px;
  background-color: #323f57;
  transition: .25s linear;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.info-icon span {
  font-size: 40px;
  color: #FFF;
}

.info {
  position: absolute;
  max-width: 440px;
  padding: 20px 40px;
  z-index: 2;
  bottom: 100px;
  left: 0px;
  background-color: #FFF;
  transition: .25s linear;
  transform: translateX(-100%);
}

.info h3 {
  padding-bottom: 20px;
}

.info.opened {
  transform: translateX(0%);
  box-shadow: 1px 3px 10px 1px #323f57;
}

.info p {
  margin-bottom: 10px;
  border-bottom: 1px solid #323f57;;
}

.footer-icon {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  bottom: 20px;
  right: 0px;
  padding: 6px 15px;
  background-color: #323f57;
  transition: .25s linear;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.footer-icon:hover {
  padding: 6px 22px;
}

.footer-icon span {
  font-size: 40px;
  color: #FFF;
}

.footer {
  position: absolute;
  z-index: 2;
  text-align: center;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: rgba(50, 63, 87, .6);
  color: #FFF;
}

.btn-blue-button {
  width: 100%;
  border: 1px solid #007bff!important;
  background: transparent;
  color: #007bff;
  transition: .25s linear;
  font-weight: bold!important;
}

.btn-blue-button:hover {
  background-color: #007bff;
  color: #FFF;
}

.btn-success-button {
  width: 100%;
  border: 1px solid limegreen!important;
  background: limegreen;
  color: #FFF;
  transition: .25s linear;
  font-weight: bold!important;
}

.modal-content {
  border-radius: 0px!important;
}

.error {
  color: red;
}

.error input {
  border: 1px solid red!important;
}





/* SOME KEYFRAMES */
@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}



.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #323f57;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
